version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "[skip ci]"
    groups:
      codegen:
        patterns:
          - "@graphql-codegen/*"
      vite:
        patterns:
          - "vite"
          - "vitest"
          - "@vitejs/*
