name: Prepare prod release
on:
  workflow_dispatch:
  schedule:
      - cron: "0 0 * * 1" # Every Monday midnight
jobs:
  open-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: create pull request
        run: gh pr create -B main -H canary --title 'Merge canary to main' --body 'Merge canary to main, to trigger a prod releae'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
